<div class="row">
  <div class="col-md-5 col-sm-8">
    <div class="date">
      <small>{{ step.startDate }}</small>
      <small ng-if="step.endDate"> - {{ step.endDate }}</small>
    </div>
    <div class="lead">
      {{ step.title }}
      <small ng-if="step.institution">@{{ step.institution }}</small>
    </div>
    <div class="description" ng-show="step.description.length">
      {{ step.description }}
    </div>
    <div class="highlight" ng-show="step.highlight">
      {{ step.highlight }}
    </div>
  </div>
</div>
