<div class="date">
  <small>{{ step.startDate }}</small>
  <small ng-if="step.endDate"> - {{ step.endDate }}</small>
</div>
<div class="lead">
  {{ step.title }}
  <small ng-if="step.institution">@{{ step.institution }}</small>
</div>
<div class="description" ng-show="step.description.length">
  {{ step.description }}
</div>
<div class="projects" ng-show="step.projects.length">
  <ul class="dashed">
    <li ng-repeat="project in step.projects">
      <strong>{{ project.name }}</strong>: {{ project.description }}
    </li>
  </ul>
</div>
<div class="highlight" ng-show="step.highlight">
  {{ step.highlight }}
</div>
